@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8vovgr');
  src:  url('fonts/icomoon.eot?8vovgr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8vovgr') format('truetype'),
    url('fonts/icomoon.woff?8vovgr') format('woff'),
    url('fonts/icomoon.svg?8vovgr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e90f";
}
.icon-GitHub:before {
  content: "\e900";
}
.icon-help_outline:before {
  content: "\e90e";
}
.icon-forumquestion_answer:before {
  content: "\e901";
}
.icon-clear:before {
  content: "\e907";
}
.icon-keyboard_arrow_down:before {
  content: "\e910";
}
.icon-keyboard_arrow_left:before {
  content: "\e902";
}
.icon-keyboard_arrow_right:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e90a";
}
.icon-apps:before {
  content: "\e904";
}
.icon-notifications:before {
  content: "\e905";
}
.icon-public:before {
  content: "\e90b";
}
.icon-account_balance:before {
  content: "\e90c";
}
.icon-power_settings_new:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e909";
}
.icon-storefront:before {
  content: "\e90d";
}
