.Popup_Apps_Window{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    z-index: 14;
    backdrop-filter: blur(30px);
    position: absolute;
    justify-content: center;
    display: none;
}

/*.Close_Icon*/
.Close_Icon{
    float: right;
    margin: 15px;
}

.Close_Icon > button{
    background: none;
    border: none;
    outline: none;
    height: 25px;
    cursor: pointer;
}

.Close_Icon > button > .icon-clear{
    font-size: 22px;
    color: rgb(201, 201, 201);
}

.Close_Icon > button > .icon-clear:hover{
    color: rgb(110, 110, 110);
}
/*.Search_Apps*/
.Search_Apps{
    display: flex;
}

.Title{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 25px;
}

.Second_Title{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 25px;
    margin-top: 250px;
    position: absolute;
}

.Search_Apps input {
    background-color: rgb(255, 255, 255);
    width: 400px;
    outline: none;
    border: none;
    height: 5px;
    padding: 15px;
    color: rgb(31, 30, 30);
    font-size: 12px;
    display: block;
    box-shadow: 1px 1px 5px rgb(122, 122, 122);
    border-radius: 50px;
}

.Search_Apps_Bar {
    display: flex;
    align-items: center;
}

/*.Search .Search_Submit_Apps & Icon*/
.Search_Apps_Submit {
    border: none;
    outline: none;
    background-color: #89b0b4;
    transition: ease 30ms;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    transform: translate(-30px);
    cursor: pointer;
    border-radius: 50px;
}

.icon-search {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.Search_Apps_Submit:hover {
    background-color: #7f9bac;
}

/*.Apps_Links*/
.Apps_Links{
    justify-content: center;
    display: flex;
    width: 100%;
}

/*.Apps_First-Row...First row of apps*/
.Apps_Links > .Apps_First-Row{
    margin-top: 30px;
    width: 85%;
}

.Apps_Links > .Apps_First-Row > ul > button{
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.445);
    margin: 10px;
}

.Apps_Links > .Apps_First-Row > ul > button > span{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.Apps_Links > .Apps_First-Row > ul > button:hover{
    background-color: rgba(0, 0, 0, 0.582);
}

/*.Apps_Second-Row...Second row of apps*/

.Apps_Links > .Apps_Second-Row{
    margin-top: 250px;
    width: 85%;
    position: absolute;
}

.Apps_Links > .Apps_Second-Row > ul > button{
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.445);
    margin: 10px;
}

.Apps_Links > .Apps_Second-Row > ul > button > span{
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.Apps_Links > .Apps_Second-Row > ul > button:hover{
    background-color: rgba(0, 0, 0, 0.582);
}

/*App.Bar-line*/
.App_Bar-line{
    width: 85%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.11);
    position: absolute;
    top: 300px;
    left: 20px;
}