.Case {
    height: 150px;
    width: 200px;
    background-color: #0000009f;
    margin: 10px;
    overflow: hidden;
    
}

.Case > .Case_Lable,
a {
    margin: 10px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

a {
    color: rgb(37, 224, 209);
}

.Case > .Case_Image {
    background-size: cover;
    width: 100%;
    height: 120px;
}
