/*Div*/
.User_Nav {
    margin-top: 15px;
    margin-right: 15px;
    float: right;
}

/*Button*/
.Profile_Button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    height: 25px;
}

/*Imgage*/
.Profile_Picture_Mini {
    height: 25px;
    border-radius: 50%;
}

/*Main buttons for the user--Apps, Notifications, Message*/

/*The 2 icon divs .User_Icon & .GitHub_Icon*/
.User_Icon {
    margin-top: 15px;
    float: right;
    position: relative;
}

.GitHub_Icon {
    margin-top: 15px;
    position: absolute;
}
/*Buttons*/

.Apps {
    background-color: #4b7986;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
    height: 25px;
}

.Notifications {
    background-color: #4b7986;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
    height: 25px;
    width: 25px;
}

.Messages {
    background-color: #4b7986;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
    height: 25px;
    width: 25px;
}

.GitHub {
    background-color: #623c6e;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    margin-left: 15px;
    height: 25px;
}

/*Span tag*/
.icon-apps {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.icon-notifications {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.icon-forumquestion_answer {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.icon-GitHub {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/*Hover*/
.User_Icon > button:hover {
    background-color: rgb(87, 87, 87);
}

.GitHub_Icon > button:hover {
    background-color: rgb(87, 87, 87);
}

.Apps,
.Notifications,
.Messages,
.GitHub {
    transition: ease-out 70ms;
}

/*Log History properties*/

/*.Nav-log...Box*/
/*.Nav-log...Master settings--All properties controll messages and notifications*/

.Nav-log{
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    float: right;
    margin-top: 10px;
    margin-right: -5px;
    border-radius: 10px;
    box-shadow: 1px 1px 7px rgb(122, 122, 122);
    justify-content: center;
    display: flex;
    display: block;
    cursor: default;
    display: none;
}

.Absolute-log{
    height: 330px;
    width: 100%;
    background-color: rgb(242, 245, 247);
    margin-top: 40px;
}

.icon-keyboard_arrow_down{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    color: rgb(143, 143, 143);
}   

.icon-keyboard_arrow_down:hover{
    color: rgb(51, 51, 51);
}   

.Absolute-log > ul li{
    list-style: none;
    padding: 15px;
    background-color: rgb(224, 224, 224);
}