/*.Back button*/
.Back_Icon {
    margin-top: 15px;
    position: absolute;
}

.Back {
    background: #3d606b;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    margin-left: 15px;
    height: 25px;
}

.icon-back {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

/*.Search App Bar*/

.Search {  
    position: absolute;
    
}

.Search_App_Bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Search_App_Bar input {
    background-color: #ffffff;
    width: 400px;
    outline: none;
    border: none;
    height: 5px;
    padding: 15px;
    color: rgb(31, 30, 30);
    font-size: 12px;
    display: block;
}

/*.Search .Search_Submit & Icon*/
.Search_Submit {
    border: none;
    outline: none;
    background-color: #41838b;
    transition: ease 30ms;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    transform: translate(-30px);
    cursor: pointer;
}

.icon-search {
    color: rgb(255, 255, 255);
    font-size: 15px;
    
    
}

.icon-search:hover {
    background-color: #3c6681;
}

/*Logo and name of the platform*/
.Bar_Title {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-weight: 50;
    font-size: 25px;
}
