body {
    background: #080c1b;
}

.Input_Login {
    width: 380px;
    position: absolute;
    height: 100%;
    background-color: rgb(23, 31, 49);
}

/*.Input_Login .User properties*/
.User {
    transform: translate(30px, 270px);
    padding: 10px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
}

/*.Input_Login .Passward properties*/
.Passward {
    transform: translate(30px, 310px);
    padding: 10px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
}

/*Check boxe properties*/

.Remember {
    position: absolute;
    transform: translate(25px, 40px);
    display: block;
}
/*Button properties*/
.Next_Field {
    background-color: rgb(32, 84, 95);
    transform: translate(30px, 290px);
    padding: 10px;
    width: 90px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/*.Input_Login Master properties*/
.User,
.Passward,
.Next_Field {
    font-size: 11px;
    border: none;
    outline: none;
}

/*Button and links hover properties*/
.Next_Field:hover {
    background-color: rgb(29, 74, 85);
}

.CLick_Here:hover {
    color: rgb(189, 211, 218);
}

.Signup:hover {
    color: rgb(138, 218, 158);
}

/*Lable and links properites*/

.Password_Forgot {
    position: absolute;
    font-size: 11px;
    color: rgb(255, 255, 255);
    display: block;
    transform: translate(29px, 340px);
}

/*.Password_Forgot properties*/
.CLick_Here {
    text-decoration: none;
    color: rgb(192, 206, 229);
    margin-left: 5px;
}

/*.Login Signup properties*/
.Text_Login {
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    transform: translate(29px, 30px);
}

.Signup {
    text-decoration: none;
    color: rgb(149, 216, 224);
    margin-left: 10px;
}

/*.Profile_Picture properties*/
.Profile_Picture {
    width: 100px;
    position: absolute;
    transform: translate(140px, 140px);
}

