body {
    background-color: rgb(209, 214, 224);
    background-size: cover;
    background-repeat: no-repeat;
}
/*.Search*/
.Search {
    text-align: center;
    margin-top: 270px;    
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
}

.Search_Bar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Search input {
    
    background-color: rgb(255, 255, 255);
    width: 500px;
    outline: none;
    border: none;
    height: 5px;
    padding: 20px;
    color: rgb(31, 30, 30);
    font-size: 13px;
    display: block;
    box-shadow: 1px 1px 5px rgb(122, 122, 122);
    border-radius: 50px;
}

/*.Search .Search_Submit & Icon*/
.Search_Submit {
    border: none;
    outline: none;
    background-color: #89b0b4;
    transition: ease 30ms;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translate(-38px);
    cursor: pointer;
    border-radius: 50%;
}

.icon-search {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.Search_Submit:hover {
    background-color: #7f9bac;
}

/*Logo and name of the platform*/
.Corp_Name {
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    font-weight: 50;
    font-size: 45px;
}

/*.Buttons--The 4 main buttons*/

.App_Buttons{
    justify-content: center;
    display: flex;
    width: 100%;
}

.App_Buttons > button{
    margin-top: 370px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgb(124, 131, 131);
    cursor: pointer;
    justify-content: center;
    display: flex;
    transition: ease-in 100ms;
    position: relative;
}

.App_Buttons > button > span{
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.App_Buttons > button:hover{
    transform: translate(0px, -3px);
    background-color: rgb(72, 82, 83);
}

